# 1. Incidentes_Regras RT

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Cópia de Incidentes_Regras RT.csv')
df.head()

,DATE,NAME,INCIDENT_ID,STOREKEEPER_ID,PUNISHMENT_MINUTES,PUNISHMENT_TYPE,DISCIPLINE_RULE_BUCKET,CATEGORY_RULE,ORDER_ID
0,2022-06-29,92. Liberación (Live),7834134,1089595,15,temporary_block,release_live,Discipline,148929241.0
1,2021-10-11,75. Reporte Manual Casos MUITO GRAVES - Bloque...,6262418,1379883,21600000,permanent_block,Manual,Manual,117857596.0
2,2022-06-15,92. Liberación (Live),7729462,1445261,300,temporary_block,release_live,Discipline,147335512.0
3,2021-08-29,Liberacion CMS (live) - 60 min\t,6111307,246044,0,warning,Discipline,Discipline,112916271.0
4,2022-01-08,92. Liberación (Live),6812562,1392515,0,warning,release_live,Discipline,128363332.0

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle das punições; ou seja, ela mostra pedidos que tiveram problemas, quem é o infrator, e qual a consequência dessa infração. 

**Descrição dos dados:**

* **Date** = Data da Infração 
* **Name** = Nome para manipulação interna de quais as punições possíveis de um RT 
* **Incident_ID** = Identificação do Incidente
* **Storekeeper_ID** = Identificação do RT
* **Punishment_Minutes** = Tempo de punição (em minutos)
* **Punishment_Type** = Tipo de punição 
* **Discipline_Rule_Bucket** = Tipos de classificações utilizadas para definir o tipo de advertência ou consequência que o RT terá. É uma derivada de um indicador interno da Rappi. 
* **Category_Rule** = Diz se é automático ou manual. 
* **Order_ID** = Identificação do Pedido

# 2. Ordens Done e Cancel

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Cópia de Ordens Done e Cancel.csv')
df.head()

   STOREKEEPER_ID  ORDERS_DONE  ORDERS_CANCEL  CANCELS_OPS_RT
0          266155        10356             61               0
1          166971        10272            112               4
2            2144         9915            123               0
3          242848         9833             28               8
4           70511         9814            229              64

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle dos pedidos que são atendidos e cancelados, tanto por clientes quanto pelos RTS.

**Descrição dos dados:**

* Storekeeper_ID = ID do entregador.
* Orders_Done = Número de pedidos realizados.
* Orders_Cancel = Número de pedidos cancelados pelo entregador.
* Cancels_Ops_RT = Número de pedidos cancelados manualmente pelo time de operação.

# 3. Product Return

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Cópia de Product return.csv')
df.head()

,ID_ENTREGADOR,LEVEL_NAME,MODAL,CITY,CREATED_AT,ORDER_ID,PRODUCT_RETURNS,VERTICAL_SUB_GROUP,COUNT_TO_GMV,GMV,STORE_ID
0,1522020,rookie,bicycle,Grande São Paulo,2022-06-30T01:20:28-05:00,148999124,-39.707,PHARMACY,False,0.000000,900621879
1,625622,diamond,bicycle,Grande São Paulo,2022-06-29T23:16:11-05:00,148997023,-12.455,PHARMACY,True,16.813483,900170876
2,841749,silver,bicycle,Natal,2022-06-29T22:07:59-05:00,148992350,-7.702,LIQUOR,True,3.017978,900269581
3,1452571,diamond,bicycle,Rio de Janeiro,2022-06-29T21:32:35-05:00,148988385,-11.354,LIQUOR,True,9.865169,900028478
4,556293,bronze,bicycle,Rio de Janeiro,2022-06-29T20:58:59-05:00,148983574,-8.084,SUPER,True,13.364045,900014202

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de retorno dos produtos de pedidos que foram cancelados.

**Descrição dos dados:**

* ID_Entregador = Número de identificação do entregador.
* Level_Name = Nível do entregador.
* Modal = Meio de locomoção.
* City = Cidade de atuação.
* Created_AT = Data de cadastro.
* Order_ID = ID (número de identificação) do pedido.
* Product_Returns = Valor (negativo) da devolução.
* Vertical_Sub_Group = Categoria do pedido (restaurante, mercado, farmácia, pet, etc).
* Count_to_GMV = Abater do GMV.
* GMV = Gross Merchandise Value é o valor total pago no pedido pela Rappi.
* Store_ID = ID (número de identificação) da loja.

## 4. Attendance rate

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de attendance rate.csv')
df.head()

   STOREKEEPER_ID  ACCEPTANCE_RATE
0        907442.0         0.666102
1       1393441.0         0.556538
2       1061798.0         0.777838
3        103460.0         0.160980
4       1259998.0         0.856102

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle da taxa de aceitação dos pedidos.

**Descrição dos dados:**

* Storekeeper_ID = ID (número de identificação) do entregador.
* Acceptance_Rate = Porcentagem de pedidos aceitos pelo entregador com relação ao total de pedidos recebidos.

## 5. Comp Defects

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de comp defects.csv')
df.head()

,STOREKEEPER_ID,WEEK,CITY,LEVEL_ID,LEVEL_NAME,ORDERS,GMV_TOTAL,COMPENSATIONS,DEFECT_COMPENSATIONS,DEFECT_ORDER
0,1009854.0,2021-07-17,Grande São Paulo,3.0,bronze,5,422.48,11.173,108019818.0,108019818.0
1,822496.0,2022-01-19,Grande São Paulo,3.0,bronze,5,947.92,1.751,129571770.0,129571770.0
2,1404796.0,2022-05-23,Grande São Paulo,1.0,diamond,3,467.78,7.681,144664666.0,144664666.0
3,33564.0,2022-04-15,Grande São Paulo,1.0,diamond,26,2655.90,0.634,140114780.0,140114780.0
4,1477795.0,2022-04-24,Grande São Paulo,4.0,danger,25,4689.84,8.724,141097167.0,141097167.0

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de reclamações de pedidos incompletos, faltantes, errados, etc.

**Descrição dos dados:**

* Storekeeper_ID = ID (número de identificação) do entregador.
* Week = Semena em referência ao acontecimento.
* City = Cidade de atuação.
* Level_ID = ID (número de identificação) do nível do entregador.
* Level_Name = Nome do nível do entregador.
* Orders = Número de pedidos que deram algum problema.
* GMV_Total = Total de custos pagos pela Rappi para a loja.
* Compensations = Valor total devolvido para o usuário.
* Defect_Compensations/ Defect_Order = Ordens/ ID do pedido.

## 6. Criação Contas Churn

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de criacao contas churn-002.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,FIRST_NAME,GENDER,CITY,SK.CREATED_AT::DATE,TRANSPORT_MEDIA_TYPE,CARTAO,LEVEL_NAME,FECHA_ULT
0,1286316,Adailton,M,Grande São Paulo,2021-06-07,motorbike,True,bronze,2022-01-16T23:27:35Z
1,1110698,Adriano Floriano Da Silva,M,Recife,2021-02-11,bicycle,True,bronze,2021-07-15T11:16:04Z
2,284886,Bruno,M,Grande São Paulo,2019-07-03,motorbike,False,bronze,2021-07-07T12:33:21Z
3,1036587,Vinicius,M,Paulínia,2020-12-21,motorbike,True,bronze,2021-09-12T16:45:27Z
4,106854,Eduardo,M,Grande São Paulo,2019-02-11,motorbike,True,bronze,2021-11-14T13:45:57Z

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de contas de entregadores que deram churn.

**Descrição dos dados:**

* ID = Número de identificação do entregador.
* First_Name = Primeiro nome do entregador.
* Gender = Gênero do entregador (M = masculino).
* City = Cidade do entregador.
* SK.Created_at::Date = Data de criação do cadastro do entregador.
* Transport_Media_Type = Transporte utilizado pelo RT.
* Cartão = Tem ou não tem um cartão. Esse é um cartão pré-pago que o entregador pode ter para fazer as compras. O dinheiro é liberado na hora do pagamento.
* Level_Name = Nível do entregador.
* Fecha_ULT = Última interação do entregador com o aplicativo.

## 7. Earnings

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de earnings.csv')
df.head()

                  MONTH  STOREKEEPER_ID  EARNINGS   TIPS
0  2021-07-01T00:00:00Z           33161   1047.82  316.0
1  2021-07-01T00:00:00Z           33189    916.58  304.0
2  2021-07-01T00:00:00Z           33194   3076.38  552.0
3  2021-07-01T00:00:00Z           33207    160.42   44.0
4  2021-07-01T00:00:00Z           33213    268.63   59.0

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de ganhos/receita de cada entregador.

**Descrição dos dados:**

* Month = Primeiro dia do mês.
* StoreKeeper_ID = ID (número de identificação) do comerciante.
* Earnings = Ganhos/dinheiro recebido por cada RT.
* Tips = Gorjetas de cada entregador.

## 8. Infos Gerais

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de infos gerais.csv')
df.head()

,ID,NOME,SOBRENOME,GENERO,DATA_NASCIMENTO,CIDADE,IS_ACTIVE,TRANSPORTE,AUTO_ACEITE,COUNT_ORDERS_LAST_7D,...,ULTIMO_PEDIDO,COUNT_ORDERS_RESTAURANTES,COUNT_ORDERS_MERCADO,COUNT_ORDERS_FARMACIA,COUNT_ORDERS_EXPRESS,COUNT_ORDERS_ECOMMERCE,COUNT_ORDERS_ANTOJO,FRETE_MEDIO,COOKING_TIME_MEDIO,ITENS_MEDIO
0,1561246,Wilton Jhonne,Da Silva Abreu,M,1988-04-21,Sao Paulo,True,motorbike,True,1,...,2022-08-01T00:00:00Z,1,0,0,0,0,0,62.255500,10.000000,1.00
1,1561210,Dennis Leonardo,Pereira Santos,M,1998-06-28,Grande São Paulo,True,motorbike,True,7,...,2022-08-01T00:00:00Z,6,1,0,0,0,0,43.444714,23.142857,3.00
2,1561205,Thavillo Teles,Balviano De Olivetra,M,1997-09-25,Natal,True,motorbike,True,2,...,2022-08-01T00:00:00Z,1,1,0,0,0,0,42.230500,4.500000,3.50
3,1561173,Evellyn Dos,Santos Massal,F,1994-07-21,Grande São Paulo,True,motorbike,True,4,...,2022-08-01T00:00:00Z,4,0,0,0,0,0,47.236750,7.250000,1.25
4,1561132,Ewerlyn Vanessa,Dos Santos Borges,F,1999-06-15,Campinas,True,motorbike,False,4,...,2022-08-01T00:00:00Z,1,0,0,1,0,0,32.774250,2.000000,4.50

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de informações gerais de cada entregador.

**Descrição dos dados:**

* ID = Número de identificação do entregador.
* Nome = Nome do entregador.
* Sobrenome = Sobrenome do entregador.
* Gênero = Gênero do entregador (M: masculino; F: feminino).
* Data_Nascimento = Data de nascimento do entregador.
* Cidade = Cidade do entregador.
* Is_Active = Entregador ativo ou não.
* Transporte = Tipo de transporte utilizado pelo RT.
* Auto_Aceite = Modo de aceitação dos pedidos automático.
* Count_Orders_Last_7D = Contagem de pedidos nos últimos 7 dias.
* Último_Pedido = Data do último pedido.
* Count_Orders_Restaurantes = Contagem dos últimos restaurantes atendidos.
* Count_Orders_Mercado = Contagem dos últimos mercados atendidos.
* Count_Orders_Farmácia = Contagem das últimas farmácias atendidas.
* Count_Orders_Express = Contagem dos últimos pedidos express.
* Count_Orders_Ecommerce = Contegem dos últimos pedidos de ecommerce atendidos.
* Count_Orders_Antojo = ???
* Frete_médio = Número do frete.
* Cooking_Time_Médio = Tempo médio de preparo de cada pedido.
* Itens_Médio = Número médio de itens nos pedidos.

## 9. Supply

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de supply.csv')
df.head()

,CITY,DATE,WEEK,CREATED_CARD,STOREKEEPER_ID,LEVEL_NAME_2,HAVE_CARD,TRANSPORT_MEDIA_TYPE,NUM_ORDERS,SUPPLY_HOURS
0,Grande São Paulo,2022-07-26,2022-07-25,2020-07-06,794243,diamond,1,bicycle,13.0,9.313611
1,Grande São Paulo,2022-07-26,2022-07-25,NaN,1000778,diamond,0,bicycle,9.0,11.497500
2,Rio de Janeiro,2022-07-26,2022-07-25,2022-04-01,117036,diamond,1,bicycle,9.0,16.656111
3,Rio de Janeiro,2022-07-26,2022-07-25,2022-05-12,1489979,diamond,1,bicycle,1.0,10.286667
4,Grande São Paulo,2022-07-26,2022-07-25,2022-03-28,867378,diamond,1,motorbike,3.0,3.426944

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de tempo em horas que o RT ficou conectado no período.

**Descrição dos dados:**

* City = Cidade do entregador.
* Date = Data da semana.
* Week = Semana em referência.
* Created_Card = Data de criação do cartão.
* Storekeeper_ID = ID (número de identificação) do entregador.
* Level_Name_2 = Nome do nível do entregador.
* Have_Card = Tem ou não tem o cartão.
* Transport_Media_Type = Tipo de transporte utilizado pelo entregador.
* Num_Orders = Número de pedidos atendidos pelo entregador nesse dia.
* Supply_Hours = Tempo em horas em que o entregador ficou conectado nesse dia/ período.

## 10. Tempo Resolução e Modal

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de tempo resolutcao e modal-001.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,FIRST_NAME,GENDER,CITY,SK.CREATED_AT::DATE,TRANSPORT_MEDIA_TYPE,CARTAO,LEVEL_NAME,FECHA_ULT
0,906901,Evandro Yuri,M,Rio de Janeiro,2020-09-14,bicycle,True,bronze,2022-05-13T13:45:38Z
1,1192557,Leandro,M,Grande São Paulo,2021-03-25,motorbike,False,bronze,2021-07-16T23:51:11Z
2,201031,Renato,M,Grande São Paulo,2019-05-08,motorbike,True,bronze,2021-11-07T02:10:14Z
3,731603,Douglas,M,Cotia,2020-04-20,motorbike,False,bronze,2021-07-21T10:16:24Z
4,1509778,Bruno José,M,Rio de Janeiro,2022-05-05,bicycle,True,bronze,2022-05-20T20:26:19Z

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de tempo de espera pelo suporte.

**Descrição dos dados:**

* ID = Número de identificação do entregador.
* First_Name = Primeiro nome do entregador.
* Gender = Gênero do entregador.
* City = Cidade do entregador.
* SK.Created_AT::DATE = Data de criação da reclamação para o suporte.
* Transport_Media_Type = Meio de transporte utilizado pelo entregador.
* Cartão = Possui ou não o cartão.
* Level_Name = Nome do nível do entregador.
* Fecha_ULT = Última interação do entregador com o aplicativo.

## 11. 2002-08-10 - Quilometragem

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Tabelas Rappi/Cópia de 2022-08-10 10_40am.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

    ORDER_ID  STOREKEEPER_ID  DISTANCE_TO_USER BUNDLE_ID
0  117818357             NaN          2.315865       NaN
1  147728554             NaN          2.584614       NaN
2  147959308             NaN          3.641370       NaN
3  112947154             NaN          2.258829       NaN
4  129226705             NaN          2.739550       NaN

**Explicação:**

Analisando os conteúdos, é possível concluir que essa tabela é um método de controle de quilometragem.

**Descrição dos dados:**

* Order ID = ID (número de identificação) do pedido.
* Storekeeper_ID = Número de identificação do entregador.
* Distance_To_User = Distância entre o entregador e o usuário.
* Bundle_ID = Número de identificação do pacote.
* NaN = Not a Number -> não é um número.