In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# a) Descrição e demonstração das manipulações necessárias nos registros e suas respectivas features.

## 1. Target
Manipulação da feature a ser utilizada como "target"

In [ ]:
# importa dataframe da tabela contas churn
import pandas as pd
df_churn = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/criacao contas churn-002.csv', usecols = ['ID'], dtype={'ID':'int32'})
df_churn

               ID
0         1286316
1         1110698
2          284886
3         1036587
4          106854
...           ...
32568379  1372362
32568380  1503585
32568381  1399642
32568382  1373182
32568383  1457568

[32568384 rows x 1 columns]

In [ ]:
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32568384 entries, 0 to 32568383
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   ID      int32
dtypes: int32(1)
memory usage: 124.2 MB

In [ ]:
# contagem de IDs repetidos
df_churn.value_counts()

ID
52950      9972
820939     9717
56425      9576
121521     9567
76238      9370
           ...
1312604       1
1475861       1
1312602       1
1312601       1
1544047       1
Length: 152224, dtype: int64

In [ ]:
# remoção dos repetidos
df_churn = df_churn.drop_duplicates()
df_churn

               ID
0         1286316
1         1110698
2          284886
3         1036587
4          106854
...           ...
32568379  1372362
32568380  1503585
32568381  1399642
32568382  1373182
32568383  1457568

[152224 rows x 1 columns]

In [ ]:
df_churn.value_counts()

ID
32818      1
1329110    1
1329113    1
1329114    1
1329117    1
          ..
904583     1
904593     1
904600     1
904603     1
1544047    1
Length: 152224, dtype: int64

In [ ]:
# importa dataframe da tabela inofs gerais
df_rts = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/infos gerais.csv', usecols = ['ID'], dtype={'ID':'int32'})
df_rts

             ID
0       1561246
1       1561210
2       1561205
3       1561173
4       1561132
...         ...
180173    33188
180174    33161
180175    33052
180176    33051
180177    32818

[180178 rows x 1 columns]

In [ ]:
df_rts.value_counts()

ID
32818      1
1374867    1
1374843    1
1374848    1
1374850    1
          ..
921826     1
921848     1
921859     1
921885     1
1561246    1
Length: 180178, dtype: int64

In [ ]:
# cria coluna para dizer que todos do df são churns True 
df_churn.insert(1,'CHURN','True')
# separa apenas as colunas ID e true_coll

In [ ]:
df_churn.head()

        ID CHURN
0  1286316  True
1  1110698  True
2   284886  True
3  1036587  True
4   106854  True

In [ ]:
# da merge nos IDs das duas tabelas + coluna de churn True
target = pd.merge(df_churn, df_rts, how ='outer')
target.head()

        ID CHURN
0  1286316  True
1  1110698  True
2   284886  True
3  1036587  True
4   106854  True

In [ ]:
target.CHURN.value_counts()

True    152224
Name: CHURN, dtype: int64

In [ ]:
# substitui os valores NaN para False
target = target.fillna('False')
target.head()

        ID CHURN
0  1286316  True
1  1110698  True
2   284886  True
3  1036587  True
4   106854  True

In [ ]:
target.CHURN.value_counts()

True     152224
False     51965
Name: CHURN, dtype: int64

## 2. Product return

In [ ]:
# manipulação tabela Product Return.csv -> trocar o nome da coluna de 'ID_ENTREGADOR' para 'ID'
df_productreturn = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/Product return.csv', usecols=['ID_ENTREGADOR', 'LEVEL_NAME', 'MODAL'], dtype={'ID_ENTREGADOR':'int32'})
df_productreturn = df_productreturn.rename(columns={'ID_ENTREGADOR':'ID'})
df_productreturn.head(5)

        ID LEVEL_NAME    MODAL
0  1522020     rookie  bicycle
1   625622    diamond  bicycle
2   841749     silver  bicycle
3  1452571    diamond  bicycle
4   556293     bronze  bicycle

## 3. Cidade
Análise do churn de cada cidade separadamente

In [ ]:
# seleção das colunas 'ID' e 'CIDADE' da tabela 'infos gerais.csv'
df_city = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/infos gerais.csv', usecols=['ID','CIDADE'], dtype={'ID':'int32'})
df_city = df_city.rename(columns={'CIDADE':'CITY'})
df_city.head()

        ID              CITY
0  1561246         Sao Paulo
1  1561210  Grande São Paulo
2  1561205             Natal
3  1561173  Grande São Paulo
4  1561132          Campinas

In [ ]:
df_100 = df_city['CITY'].value_counts()
df_100

Grande São Paulo    87528
Rio de Janeiro      22578
Belo Horizonte       8456
Recife               6405
Curitiba             6308
                    ...
BELO HORIZINTE          1
RIO DE JANEIRO          1
154                     1
11                      1
Rio Claro               1
Name: CITY, Length: 228, dtype: int64

In [ ]:
# quais cidades aparecem 
df_city['CITY'].unique()

array(['Sao Paulo', 'Grande São Paulo', 'Natal', 'Campinas', 'Recife',
       'Fortaleza', 'Brasilia', 'Sorocaba', 'Salvador', 'Cotia', 'Santos',
       'Belo Horizonte', 'São Jose', 'Goiânia', 'Rio de Janeiro',
       'Ribeirão Preto', 'Porto Alegre', 'Curitiba', 'Pinhais', 'Niterói',
       'Diadema', 'Teresina', 'Londrina', 'Guarujá', 'Balneario Camboriú',
       'Jundiaí', 'Florianópolis', 'Betim', 'São José do Rio Preto',
       'Praia Grande', 'João Pessoa', 'Hortolândia', 'Nova Iguacu',
       'Juiz de Fora', 'Maceió', 'São João de Meriti', 'Canoas', 'Poá',
       'Uberlandia', 'São Roque', 'Vila Velha', 'Maua', 'Aracaju',
       'Paulínia', 'Suzano', 'Novo Hamburgo', 'Parnamirim', 'Belém',
       'Lauro de Freitas', 'Valparaíso de Goiás', 'Olinda', '14', '10',
       'Jaboatao Dos Guararapes', 'São José dos Campos', 'Itaguaí',
       'Itajaí', 'Nilópolis', 'Vinhedo', 'Duque De Caxias', 'Petrópolis',
       'Palhoça', 'São Vicente', 'Barueri', 'São José Dos Pinhais',
       'Valinhos', 'Jacareí', 'Ipatinga', 'Itupeva', '18', '199',
       'Taubaté', 'Sumaré', 'São Gonçalo', 'Rio das Ostras', 'Vassouras',
       'Mogi Das Cruzes', '24', '29', 'Ponta Grossa', 'Votorantim', 'Itu',
       'Matinhos', 'Teófilo Otoni', 'Mesquita', 'Maricá', 'Piracicaba',
       'Vitória', '11', 'Santo Amaro da Imperatriz', 'Atibaia',
       'Indaiatuba', '26', 'Barreiras', 'Itabuna', 'Passo Fundo', 'Bauru',
       'Sertãozinho', 'Petrolina', 'Ananindeua', 'Canasvieiras', '31',
       'Cabo Frio', 'Montes Claros', 'Caruaru', 'Rondonópolis',
       'Full Coverage', 'Itapema', 'Anápolis', 'Gramado',
       'Poços de Caldas', 'Campo Mourão', 'Feira de Santana', '79',
       'São Luis', 'Ourinhos', '61', 'Araraquara', 'Araçatuba',
       'Americana', 'Manaus', 'Campina Grande', 'Cariacica', '32',
       'Porto Velho', 'Presidente Prudente', 'Pouso Alegre', '30',
       'Blumenau', '51', 'Resende', 'Mogi Guaçu', 'Bertioga',
       'Balneario Camboriu', 'Vitória da Conquista', 'Nova Friburgo',
       'Jaraguá do Sul', '146', 'Sao Jose Dos Pinhais', '5',
       'Teresópolis', 'Torres', 'Macaé', '95', 'Sao Vicente', '50',
       'Mossoró', 'Pirassununga', 'Macapá', 'Campos dos Goytacazes',
       'São Paulo', 'Campo Grande', '282', 'Franca', 'São Carlos',
       'Cascavel', 'Imperatriz', 'Rio Branco', '81', 'Xangrila',
       'Uberaba', 'Joinville', 'Porto Seguro', 'Sumare', '76', 'Sao Jose',
       '48', 'Maringá', '62', 'Caldas Novas', 'Sao Luis', '33', 'Maringa',
       'Volta Redonda', 'Limeira', 'Santa Maria', 'Governador Valadares',
       'Foz do Iguaçu', 'without_city', '60', 'Rio Grande', '161', '47',
       '218', '74', '9', 'FAZENDA RIO GRANDE', 'Playa del Carmen',
       'Outras cidades', '94', '156', 'Marilia', 'Sao Goncalo', '49',
       '233', 'Sao Carlos', 'SÃO PAULO', 'BELO HORIZINTE',
       'RIO DE JANEIRO', '154', '75', '59', '147', 'Cuiabá', '130', '97',
       '78', '321', 'Caxias do Sul', 'Full Coverage Brasil', '159',
       'Osasco', '16', '252', '149', '13', '12', 'Boa Vista', '126',
       '289', 'Rosarito', 'Mexicali', 'Tuxtla Gutierrez', 'Viña del Mar',
       'Juliaca', 'Marília', 'Serra', 'Rio Claro'], dtype=object)

In [ ]:
# contagem de quantas cidades diferentes existem no banco 
df_city['CITY'].nunique()

228

In [ ]:
# junção das colunas para ver churn por cidade
df_churn_city = pd.merge(df_city, target, how='inner')
df_churn_city.head()

        ID              CITY  CHURN
0  1561246         Sao Paulo  False
1  1561210  Grande São Paulo  False
2  1561205             Natal  False
3  1561173  Grande São Paulo  False
4  1561132          Campinas  False

In [ ]:
df_churn_city.drop(columns='ID')

                    CITY  CHURN
0              Sao Paulo  False
1       Grande São Paulo  False
2                  Natal  False
3       Grande São Paulo  False
4               Campinas  False
...                  ...    ...
180173  Grande São Paulo   True
180174  Grande São Paulo  False
180175  Grande São Paulo  False
180176  Grande São Paulo   True
180177  Grande São Paulo   True

[180178 rows x 2 columns]

In [ ]:
df_graph = df_churn_city.groupby(by=['CITY','CHURN']).count()
df_graph

                      ID
CITY         CHURN
10           False  1048
11           False     1
12           False     1
126          False     2
13           False     1
...                  ...
Votorantim   False    14
             True     48
Xangrila     False     1
             True      4
without_city True     13

[350 rows x 1 columns]

In [ ]:
df_graph.reset_index()

             CITY  CHURN    ID
0              10  False  1048
1              11  False     1
2              12  False     1
3             126  False     2
4              13  False     1
..            ...    ...   ...
345    Votorantim  False    14
346    Votorantim   True    48
347      Xangrila  False     1
348      Xangrila   True     4
349  without_city   True    13

[350 rows x 3 columns]

In [ ]:
# seleciona as 10 cidades com maior número de RTs
df_graph.sort_values(['ID'], ascending=False).head(10).reset_index().CITY.unique()

array(['Grande São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Recife',
       'Curitiba', 'Fortaleza', 'Porto Alegre'], dtype=object)

In [ ]:
# cria uma lista com as 10 cidades
cidades = list(df_graph.sort_values(['ID'], ascending=False).head(10).reset_index().CITY.unique())
cidades

['Grande São Paulo',
 'Rio de Janeiro',
 'Belo Horizonte',
 'Recife',
 'Curitiba',
 'Fortaleza',
 'Porto Alegre']

In [ ]:
# seleciona as 10 cidades dentro da tabela de churn por cidade
df_graph = df_graph.reset_index().query(f'CITY in {cidades}')
df_graph

                 CITY  CHURN     ID
73     Belo Horizonte  False   2461
74     Belo Horizonte   True   5995
106          Curitiba  False   1889
107          Curitiba   True   4419
117         Fortaleza  False   1746
118         Fortaleza   True   4068
130  Grande São Paulo  False  23896
131  Grande São Paulo   True  63632
237      Porto Alegre  False    960
238      Porto Alegre   True   2424
253            Recife  False   1910
254            Recife   True   4495
263    Rio de Janeiro  False   6275
264    Rio de Janeiro   True  16303

In [ ]:
# contagem de churn true e false por cidade
df_graph = df_graph.rename(columns={'ID':'COUNT'})
df_graph

                 CITY  CHURN  COUNT
73     Belo Horizonte  False   2461
74     Belo Horizonte   True   5995
106          Curitiba  False   1889
107          Curitiba   True   4419
117         Fortaleza  False   1746
118         Fortaleza   True   4068
130  Grande São Paulo  False  23896
131  Grande São Paulo   True  63632
237      Porto Alegre  False    960
238      Porto Alegre   True   2424
253            Recife  False   1910
254            Recife   True   4495
263    Rio de Janeiro  False   6275
264    Rio de Janeiro   True  16303

In [ ]:
import plotly.express as px

fig = px.bar(df_graph, x="CITY", y="COUNT", color="CHURN", title="Churn por cidade")
fig.show()

In [ ]:
# cria a coluna de total de RTs por cidade
df_total = df_graph.groupby(['CITY'])['COUNT'].sum().to_frame().reset_index()
df_total = df_total.rename(columns={'COUNT':'TOTAL'})
df_total

               CITY  TOTAL
0    Belo Horizonte   8456
1          Curitiba   6308
2         Fortaleza   5814
3  Grande São Paulo  87528
4      Porto Alegre   3384
5            Recife   6405
6    Rio de Janeiro  22578

In [ ]:
    # adiciona a coluna do total do df do gráfico
df_graph = pd.merge(df_graph, df_total, how='right')
df_graph

                CITY  CHURN  COUNT  TOTAL
0     Belo Horizonte  False   2461   8456
1     Belo Horizonte   True   5995   8456
2           Curitiba  False   1889   6308
3           Curitiba   True   4419   6308
4          Fortaleza  False   1746   5814
5          Fortaleza   True   4068   5814
6   Grande São Paulo  False  23896  87528
7   Grande São Paulo   True  63632  87528
8       Porto Alegre  False    960   3384
9       Porto Alegre   True   2424   3384
10            Recife  False   1910   6405
11            Recife   True   4495   6405
12    Rio de Janeiro  False   6275  22578
13    Rio de Janeiro   True  16303  22578

In [ ]:
# cria a coluna de porcentagem de churn true e false por cidade
df_graph['PERCENTAGE'] = (df_graph['COUNT']/df_graph['TOTAL']).round(2)
df_graph

                CITY  CHURN  COUNT  TOTAL  PERCENTAGE
0     Belo Horizonte  False   2461   8456        0.29
1     Belo Horizonte   True   5995   8456        0.71
2           Curitiba  False   1889   6308        0.30
3           Curitiba   True   4419   6308        0.70
4          Fortaleza  False   1746   5814        0.30
5          Fortaleza   True   4068   5814        0.70
6   Grande São Paulo  False  23896  87528        0.27
7   Grande São Paulo   True  63632  87528        0.73
8       Porto Alegre  False    960   3384        0.28
9       Porto Alegre   True   2424   3384        0.72
10            Recife  False   1910   6405        0.30
11            Recife   True   4495   6405        0.70
12    Rio de Janeiro  False   6275  22578        0.28
13    Rio de Janeiro   True  16303  22578        0.72

In [ ]:
# gráfico de porcentagem de churn por cidade
import plotly.express as px

fig = px.bar(df_graph, x="CITY", y="PERCENTAGE", color="CHURN", title="Churn por cidade")
fig.show()

Conclusão: o churn por cidade é uma constante, então não será utilizado como feature

## 4. Cartão
O dado de posse do cartão pré-pago da Rappi está presente em duas tabelas: `criacao contas churn-002` e `supply`

In [ ]:
# importa os dados de cartão por ID da tabela 'criacao contas churn-002'
df_cartao_churn = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/criacao contas churn-002.csv', usecols=['ID', 'CARTAO'])
df_cartao_churn.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning:

Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.

        ID CARTAO
0  1286316   True
1  1110698   True
2   284886  False
3  1036587   True
4   106854   True

In [ ]:
# muda o nome das colunas 
df_cartao_churn = df_cartao_churn.rename(columns={'CARTAO':'HAVE_CARD'})
df_cartao_churn.head(1)

        ID HAVE_CARD
0  1286316      True

In [ ]:
# tira IDs duplicados
df_cartao_churn = df_cartao_churn.drop_duplicates()
df_cartao_churn.head()

        ID HAVE_CARD
0  1286316      True
1  1110698      True
2   284886     False
3  1036587      True
4   106854      True

In [ ]:
# importa os dados de cartão por ID da tabela 'supply'
df_cartao = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/supply.csv', usecols=['STOREKEEPER_ID', 'HAVE_CARD'], dtype={'STOREKEEPER_ID':'float32'})
df_cartao.head()

   STOREKEEPER_ID  HAVE_CARD
0        794243.0          1
1       1000778.0          0
2        117036.0          1
3       1489979.0          1
4        867378.0          1

In [ ]:
# muda o nome da coluna para ID
df_cartao = df_cartao.rename(columns={'STOREKEEPER_ID':'ID'})
df_cartao.head()

          ID  HAVE_CARD
0   794243.0          1
1  1000778.0          0
2   117036.0          1
3  1489979.0          1
4   867378.0          1

In [ ]:
# verifica IDs duplicados
df_cartao.ID.value_counts()

1318736.0    53
1152075.0    50
1491656.0    49
1484579.0    49
1485614.0    49
             ..
54260.0       1
1471049.0     1
1413902.0     1
1020445.0     1
1466042.0     1
Name: ID, Length: 6560, dtype: int64

In [ ]:
# muda os valores de churn para 'True' e 'False'
df_cartao = df_cartao.replace({1:'True', 0:'False'})
df_cartao.head()

          ID HAVE_CARD
0   794243.0      True
1  1000778.0     False
2   117036.0      True
3  1489979.0      True
4   867378.0      True

In [ ]:
# remove valores duplicados
df_cartao = df_cartao.drop_duplicates()
df_cartao.value_counts()

ID         HAVE_CARD
33203.0    True         1
1423178.0  False        1
1423083.0  True         1
1422957.0  True         1
1422911.0  True         1
                       ..
989397.0   True         1
988763.0   True         1
988721.0   True         1
988392.0   True         1
1539478.0  True         1
Length: 6854, dtype: int64

In [ ]:
df_cartao_merge = pd.merge(df_cartao, df_cartao_churn, how='outer', left_on='ID', right_on='ID')

In [ ]:
df_cartao_merge.query('ID == 1276252.0')

             ID HAVE_CARD_x HAVE_CARD_y
2060  1276252.0        True         NaN
2061  1276252.0       False         NaN

In [ ]:
df_cartao_merge_clean = df_cartao_merge.drop_duplicates()
df_cartao_merge_clean.ID.value_counts()

1276252.0    2
1516746.0    2
980320.0     2
1477283.0    2
1459407.0    2
            ..
1075231.0    1
1241874.0    1
403785.0     1
1421243.0    1
1457568.0    1
Name: ID, Length: 158417, dtype: int64

In [ ]:
df_cartao_merge_clean.query('ID == 1318736.0')

            ID HAVE_CARD_x HAVE_CARD_y
812  1318736.0        True         NaN

In [ ]:
df_cartao.ID.drop_duplicates()

0          794243.0
1         1000778.0
2          117036.0
3         1489979.0
4          867378.0
            ...
123997     274159.0
124001    1414380.0
124055    1513679.0
124181    1518595.0
124398    1466042.0
Name: ID, Length: 6560, dtype: float32

In [ ]:
df_cartao['ID'].nunique()

6560

In [ ]:
# feature de posse do cartão pelos RTs
df_cartao = df_cartao.drop_duplicates(subset='ID')
df_cartao.head()

          ID HAVE_CARD
0   794243.0      True
1  1000778.0     False
2   117036.0      True
3  1489979.0      True
4   867378.0      True

## 5. GMV

In [ ]:
# importa os dados de GMV da tabela 'product return'
df_gmv = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/Product return.csv', usecols=['ID_ENTREGADOR', 'COUNT_TO_GMV', 'GMV'])
df_gmv.head()

   ID_ENTREGADOR  COUNT_TO_GMV        GMV
0        1522020         False   0.000000
1         625622          True  16.813483
2         841749          True   3.017978
3        1452571          True   9.865169
4         556293          True  13.364045

In [ ]:
# conta valores da coluna 'COUNT_TO_GMV'
df_gmv['COUNT_TO_GMV'].value_counts()

True     34324
False     7211
Name: COUNT_TO_GMV, dtype: int64

In [ ]:
# muda o nome da coluna para 'ID'
df_gmv = df_gmv.rename(columns={'ID_ENTREGADOR':'ID'})
df_gmv.head()

        ID  COUNT_TO_GMV        GMV
0  1522020         False   0.000000
1   625622          True  16.813483
2   841749          True   3.017978
3  1452571          True   9.865169
4   556293          True  13.364045

## 5. Punishment type

In [ ]:
# importa os dados de tipo de punição da tabela 'Incidentes_Regras RT'
df_punishment = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/Incidentes_Regras RT.csv', usecols=['STOREKEEPER_ID','PUNISHMENT_TYPE'])
df_punishment = df_punishment.rename(columns={'STOREKEEPER_ID':'ID'})
df_punishment.head()

        ID  PUNISHMENT_TYPE
0  1089595  temporary_block
1  1379883  permanent_block
2  1445261  temporary_block
3   246044          warning
4  1392515          warning

In [ ]:
# muda o nome da coluna para ID
df_punishment = df_punishment.rename(columns={'STOREKEEPER_ID':'ID'})
df_punishment.head()

        ID  PUNISHMENT_TYPE
0  1089595  temporary_block
1  1379883  permanent_block
2  1445261  temporary_block
3   246044          warning
4  1392515          warning

In [ ]:
# conta número de IDs duplicados
df_punishment.ID.value_counts()

525707     1124
1024855     522
1039090     489
995119      408
1165581     389
           ...
1419951       1
1149411       1
1429824       1
881425        1
219955        1
Name: ID, Length: 185920, dtype: int64

In [ ]:
# tipos de punição
df_punishment.PUNISHMENT_TYPE.unique()

array(['temporary_block', 'permanent_block', 'warning'], dtype=object)

In [ ]:
# one-hot encoding para os tipos de punições
# (transforma os três tipos de punições em colunas)
df_punishment = pd.get_dummies(df_punishment)

In [ ]:
# verifica um ID específico
df_punishment.head()
df_punishment.query('ID == 525707').value_counts()

ID      PUNISHMENT_TYPE_permanent_block  PUNISHMENT_TYPE_temporary_block  PUNISHMENT_TYPE_warning
525707  1                                0                                0                          993
        0                                1                                0                          112
                                         0                                1                           19
dtype: int64

In [ ]:
# soma as incidências de punições por ID
df_punishment_sum = df_punishment.groupby(by=['ID']).sum()
df_punishment_sum.query('ID == 525707')

,PUNISHMENT_TYPE_permanent_block,PUNISHMENT_TYPE_temporary_block,PUNISHMENT_TYPE_warning
ID,,,
525707,993.0,112.0,19.0

In [ ]:
# feature de incidências
df_punishment_sum.head()

,PUNISHMENT_TYPE_permanent_block,PUNISHMENT_TYPE_temporary_block,PUNISHMENT_TYPE_warning
ID,,,
32799,0.0,5.0,0.0
32825,0.0,0.0,1.0
32924,0.0,0.0,1.0
32932,0.0,1.0,0.0
33027,1.0,0.0,0.0

In [ ]:
# quantidade de linhas na feature
len(df_punishment_sum)

185920

# b) Se aplicável, como deve ser feita a agregação de registros e/ou derivação de novos atributos.

https://colab.research.google.com/drive/1B3S4Ru-kuzlEsKkNXExRIIAs_lOzxPNX?usp=sharing

# c) Como devem ser removidos ou substituídos valores ausentes/em branco.

Em primeira análise, os valores nulos serão preenchidos com 0

## 1. Attendence rate

In [ ]:
df_acceptance = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/attendance rate.csv')
df_acceptance.head()

   STOREKEEPER_ID  ACCEPTANCE_RATE
0        907442.0         0.666102
1       1393441.0         0.556538
2       1061798.0         0.777838
3        103460.0         0.160980
4       1259998.0         0.856102

In [ ]:
#Exemplo de RTs sem dados de ACCEPTANCE_RATE
df_acceptance.tail()

        STOREKEEPER_ID  ACCEPTANCE_RATE
653162         57801.0              NaN
653163        911388.0              NaN
653164        537609.0              NaN
653165        491467.0              NaN
653166        706668.0              NaN

In [ ]:
#Soma quantos valores nulos há
df_acceptance.isna().sum()

STOREKEEPER_ID          1
ACCEPTANCE_RATE    390116
dtype: int64

Após a junção das tabelas os valores nulos serão preenchidos com 0

## 2. Cartão
Limpeza dos dados referentes à posse de cartões dos RTs

In [ ]:
df_cartao.head()

          ID HAVE_CARD
0   794243.0      True
1  1000778.0     False
2   117036.0      True
3  1489979.0      True
4   867378.0      True

In [ ]:
# contagem de nulos 
df_cartao.isna().sum()

ID           0
HAVE_CARD    0
dtype: int64

Não há códigos nulos a serem removidos

## 3. GMV

In [ ]:
#Chamando a tabela para visualização 
df_gmv.head()

        ID  COUNT_TO_GMV        GMV
0  1522020         False   0.000000
1   625622          True  16.813483
2   841749          True   3.017978
3  1452571          True   9.865169
4   556293          True  13.364045

In [ ]:
#Soma dos nulos
df_gmv.isna().sum()

ID              0
COUNT_TO_GMV    0
GMV             0
dtype: int64

Não há dados nulos a serem removidos

## 4. Punishment type

In [ ]:
#Chamando a tabela para visualização
df_punishment_sum.head()

,PUNISHMENT_TYPE_permanent_block,PUNISHMENT_TYPE_temporary_block,PUNISHMENT_TYPE_warning
ID,,,
32799,0.0,5.0,0.0
32825,0.0,0.0,1.0
32924,0.0,0.0,1.0
32932,0.0,1.0,0.0
33027,1.0,0.0,0.0

In [ ]:
#Soma dos nulos
df_punishment_sum.isna().sum()

PUNISHMENT_TYPE_permanent_block    0
PUNISHMENT_TYPE_temporary_block    0
PUNISHMENT_TYPE_warning            0
dtype: int64

Não há dados nulos a serem removidos

# d) Identificação das features selecionadas, com descrição dos motivos de seleção.
As features serão adicionadas em apenas um tabela, armazenada na variável `null_churn`, criada a seguir

 Criação da tabela `null_churn` e inclusão das features `ID_ENTREGADOR`, `LEVEL_NAME` e `MODAL` da tabela `Product Return.csv`

In [ ]:
null_churn = pd.merge(target, df_productreturn, how='inner')
null_churn.head()

        ID CHURN LEVEL_NAME      MODAL
0   359949  True     bronze  motorbike
1  1137905  True     bronze  motorbike
2    86134  True    diamond        car
3    86134  True    diamond        car
4    86134  True    diamond        car

Inclusão das features `HAVE_CARD` da tabebela `df_cartao`

In [ ]:
null_churn = pd.merge(null_churn, df_cartao, how='left')
null_churn.head()

        ID CHURN LEVEL_NAME      MODAL HAVE_CARD
0   359949  True     bronze  motorbike       NaN
1  1137905  True     bronze  motorbike       NaN
2    86134  True    diamond        car       NaN
3    86134  True    diamond        car       NaN
4    86134  True    diamond        car       NaN

In [ ]:
null_churn['CHURN'].value_counts()

True     25564
False    15500
Name: CHURN, dtype: int64

Inclusão das features `COUNT_TO_GMV,` e `GMV` da tabela `df_gmv`

In [ ]:
null_churn = pd.merge(null_churn, df_gmv, how='left')
null_churn.head()

        ID CHURN LEVEL_NAME      MODAL HAVE_CARD  COUNT_TO_GMV        GMV
0   359949  True     bronze  motorbike       NaN          True   3.382022
1  1137905  True     bronze  motorbike       NaN          True  33.761798
2    86134  True    diamond        car       NaN          True   7.375281
3    86134  True    diamond        car       NaN          True  20.555056
4    86134  True    diamond        car       NaN          True  75.258427

In [ ]:
null_churn['CHURN'].value_counts()

True     61788
False    47906
Name: CHURN, dtype: int64

Inclusão das features `PUNISHMENT_TYPE_permanent_block` `PUNISHMENT_TYPE_temporary_block` e `PUNISHMENT_TYPE_warning` da tabela `df_punishment`

In [ ]:
null_churn_merge = pd.merge(null_churn, df_punishment, how='left')
null_churn_merge.head(1)

,ID,CHURN,LEVEL_NAME,MODAL,HAVE_CARD,COUNT_TO_GMV,GMV,PUNISHMENT_TYPE_permanent_block,PUNISHMENT_TYPE_temporary_block,PUNISHMENT_TYPE_warning
0,359949,True,bronze,motorbike,NaN,True,3.382022,0.0,1.0,0.0

Inclusão da tabela `out.csv`, originada a partir da elaboração de novas features

Junção das tabelas `null_churn_merge` e `out.csv`

In [ ]:
df_out = pd.read_csv('/content/drive/Shareddrives/Grupo Rappitendeiros/out.csv', dtype={'ID':'int32'})
df_out.drop(df_out.columns[df_out.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df_out = df_out.drop(['TRANSPORTE'], axis=1)
df_out = df_out.rename(columns={'STOREKEEPER_ID':'ID'})
df_out = pd.merge(df_out, target, how='left')
df_out

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning:

Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.

,ID,DISTANCE_TO_USER,ORDERS_DONE,ORDERS_CANCEL,CANCELS_OPS_RT,EARNINGS,TIPS,NUM_ORDERS,SUPPLY_HOURS,EARNINGS_PER_ORDER,ORDER_DONE_RATE,EARNINGS_PER_DISTANCE,DATA_NASCIMENTO,AUTO_ACEITE,STOREKEEPER_YEAR,CHURN
0,32818,5.688549,3.0,0.0,0.0,17.23000,15.000000,NaN,NaN,10.743333,1.000000,5.665768,1988-04-21,True,34.0,True
1,33051,1311.727200,2311.0,49.0,2.0,1021.84670,351.166667,NaN,NaN,0.594121,0.979237,1.046722,1998-06-28,True,24.0,True
2,33052,8.233477,0.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1997-09-25,True,24.0,False
3,33161,4653.211000,2625.0,55.0,4.0,794.56415,199.583333,NaN,NaN,0.378723,0.979478,0.213648,1994-07-21,True,28.0,False
4,33188,49.934210,12.0,1.0,0.0,67.77000,22.000000,NaN,NaN,7.480833,0.923077,1.797765,1999-06-15,False,23.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193741,1566224,6.783248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193742,1566236,4.279307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193743,1566442,3.275672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193744,1566574,1.940478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193745,1566585,1.300207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
null_churn_final = pd.merge(null_churn_merge, df_out, how='left').fillna(0)
null_churn_final.head(1)

,ID,CHURN,LEVEL_NAME,MODAL,HAVE_CARD,COUNT_TO_GMV,GMV,PUNISHMENT_TYPE_permanent_block,PUNISHMENT_TYPE_temporary_block,PUNISHMENT_TYPE_warning,...,EARNINGS,TIPS,NUM_ORDERS,SUPPLY_HOURS,EARNINGS_PER_ORDER,ORDER_DONE_RATE,EARNINGS_PER_DISTANCE,DATA_NASCIMENTO,AUTO_ACEITE,STOREKEEPER_YEAR
0,359949,True,bronze,motorbike,0,True,3.382022,0.0,1.0,0.0,...,876.11163,103.583333,0.0,0.0,1.043339,0.905497,0.254264,1996-12-02,True,25.0

In [ ]:
null_churn_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6865977 entries, 0 to 6865976
Data columns (total 24 columns):
 #   Column                           Dtype
---  ------                           -----
 0   ID                               int32
 1   CHURN                            object
 2   LEVEL_NAME                       object
 3   MODAL                            object
 4   HAVE_CARD                        object
 5   COUNT_TO_GMV                     bool
 6   GMV                              float64
 7   PUNISHMENT_TYPE_permanent_block  float64
 8   PUNISHMENT_TYPE_temporary_block  float64
 9   PUNISHMENT_TYPE_warning          float64
 10  DISTANCE_TO_USER                 float64
 11  ORDERS_DONE                      float64
 12  ORDERS_CANCEL                    float64
 13  CANCELS_OPS_RT                   float64
 14  EARNINGS                         float64
 15  TIPS                             float64
 16  NUM_ORDERS                       float64
 17  SUPPLY_HOURS                     float64
 18  EARNINGS_PER_ORDER               float64
 19  ORDER_DONE_RATE                  float64
 20  EARNINGS_PER_DISTANCE            float64
 21  DATA_NASCIMENTO                  object
 22  AUTO_ACEITE                      object
 23  STOREKEEPER_YEAR                 float64
dtypes: bool(1), float64(16), int32(1), object(6)
memory usage: 1.2+ GB

In [ ]:
df_out[['ID', 'ORDER_DONE_RATE']]

             ID  ORDER_DONE_RATE
0         32818         1.000000
1         33051         0.979237
2         33052         0.000000
3         33161         0.979478
4         33188         0.923077
...         ...              ...
193741  1566224              NaN
193742  1566236              NaN
193743  1566442              NaN
193744  1566574              NaN
193745  1566585              NaN

[193746 rows x 2 columns]

FEATURES CRIADAS NA TABELA

In [ ]:
#EARNINGS_PER_ORDER = O ganho por pedido do entregador
#EARNINGS_PER_DISTANCE = O ganho por kilômetro do entregador
#ORDER_DONE_RATE = TAXA PERCENTUAL DE ORDENS CONLUÍDAS SOBRE O TOTAL DE ORDENS
#STOREKEEPER_YEAR = A idade do entregador

In [ ]:
#Transformando a tabela criada em csv e direcionando ela para o drive
from pathlib import Path  
filepath = Path('/content/drive/Shareddrives/Grupo Rappitendeiros/all.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_out.to_csv(filepath)

In [ ]:
df_out.isna().sum()

ID                            0
DISTANCE_TO_USER              0
ORDERS_DONE                9885
ORDERS_CANCEL              9885
CANCELS_OPS_RT             9885
EARNINGS                  17226
TIPS                      17226
NUM_ORDERS               187313
SUPPLY_HOURS             187186
EARNINGS_PER_ORDER        22677
ORDER_DONE_RATE            9885
EARNINGS_PER_DISTANCE     17226
DATA_NASCIMENTO           13568
AUTO_ACEITE               13568
STOREKEEPER_YEAR          13568
CHURN                      3378
dtype: int64